# Supabase (Dashboard → Settings → API)
NEXT_PUBLIC_SUPABASE_URL=https://larwbfjprfcbyfdvryob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhcndiZmpwcmZjYnlmZHZyeW9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMjM3MTcsImV4cCI6MjA5MTc5OTcxN30.FpgVv3EICljsSzpnQ8gaoP3rH7fpmjUp8d_cQjnfdNI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhcndiZmpwcmZjYnlmZHZyeW9iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIyMzcxNywiZXhwIjoyMDkxNzk5NzE3fQ.Mmm8rKoSDa9offmDd58-QXVms1tTlibi3p85I-9CvOM
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_cNqQzXOKSsr15orYNqvNbg_5pWPqCFr
SENDGRID_API_KEY=
SMTP_SERVER=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SENDGRID_FROM_EMAIL=wasl@wasl.com
SENDGRID_FROM_NAME=Wasl           

# EXCHANGE_RATE_API_KEY=https://v6.exchangerate-api.com/v6/b02bc9a2f2f21f6f8f8ce054/latest/USD